@model SnakeApplication.Models.ViewColor;
<div>
	<form asp-action="Edit" method="post">
	<h2>Update Snake Color</h2>
	<br /><br />
		<label>Color :</label>
		<input asp-for="c" id="inp" />
		<br /><br />
		<button type="submit" id="btn">Update</button>
    </form>
</div>

