@model SnakeApplication.Models.Player;

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body{
    text-align: center;
    background-color: rgb(23, 81, 126);
}
#core {
    display:flex;
    justify-content: space-around;
}
img{
    display: none;
}
label{
    display:none;
}
    </style>
    <title>Snake</title>
</head>
<body>
    <div>
        <h1>Hello @Model.Name</h1>
        <div id="core">
        <h2 id="score"></h2>
        <h2 id="highscore"></h2>    
    </div>
        <canvas id="canvas" width = "495px" height="495px" style="border:1px solid black; background-color :black "></canvas>
       
    </div>
    <label id="scr">@Model.Score</label>
    <label id="clr">@Model.Color</label>
    <script src="/js/Snake.js"></script>

</body>
</html>