@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a asp-controller="Game" asp-action="Index"> <h1>Play Snake Game Now</h1></a>
</div>
